body {
    background-color: #332c2c;
    color: #f4f4f4;
}

h1, h2 { 
    font-size: 60px;
  }

  h3 { 
    font-size: 24px;
  }

a {
    color:#00ffff;
}
.mars-intro {
    color:#d40e0e;
}
.earth-intro {
    color:green;
}